<header class="fixed top-0 left-0 right-0 bg-white shadow border-zinc-400">
  <nav class="px-5 py-3 flex items-center gap-10">
    <a href="/">
      <img src="/logoipsum-362.svg" alt="">
    </a>

    <div class="space-x-4">
      <a href="/" class="hover:text-blue-600 transition-all">Home</a>
      <a href="/perguntar" class="hover:text-blue-600 transition-all">Perguntar</a>
    </div>
  </nav>
</header>